/*General CSS*/
    body {
        font-weight: bold;
    }
    .success {
        background-color: #29b12c !important;
    }
    .warning {
        background-color: #ece531 !important;
    }
    .danger {
        background-color: #e66868 !important;
    }
    .successText {
        color: #29b12c;
    }
    .warningText {
        color: #ece531;
    }
    .dangerText {
        color: #e66868;
    }
    /*Header*/
        .side-button {
            float: right;
            margin-top: 5px;
            margin-right: 10px;
            background-color: transparent;
            color: white;
            border: 0px;
        }
    /*Header*/
    
    /*nav*/
        nav {
            height: 40px;
        }
        .navbar {
            min-height:40px;
        }
        .navbar-brand {
            padding:10px;
        }
        .navbar-text {
            margin-top: 10px;
            margin-bottom: 10px; 
        }
    /*nav*/

    /*content*/
        .panel-primary>.panel-heading {
            color: #fff;
            background-color:rgb(36,50,100);
            border-color: rgb(36,50,100); 
        }
        .btn-primary{
            background-color:rgb(36,50,100); 
        }
        .panel-primary {
            border-color: rgb(36,50,100);
        }
        
    /*content*/

    /*Footer*/
        #footer {
            padding-top: 45px;
        }
        #footer .container-fluid {
            float:right;
        }
    /*Footer*/
/*General CSS*/

/*Content CSS*/
    /*Footer CSS */

        
	/*Footer CSS */
/*Content CSS*/