/*General CSS*/
    .success {
        background-color: #29b12c !important;
    }
    .warning {
        background-color: #ece531 !important;
    }
    .danger {
        background-color: #e66868 !important;
    }
    .successText {
        color: #29b12c;
    }
    .warningText {
        color: #ece531;
    }
    .dangerText {
        color: #e66868;
    }
/*General CSS*/

/*Content CSS*/
    /*Footer CSS */

        footer .container-fluid {
            float:right;
        }
	/*Footer CSS */
/*Content CSS*/