@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    /*General*/
        nav {
            height: 40px;
        }
        .navbar {
            min-height:40px;
        }
        .navbar-brand {
            padding:10px;
        }
        .navbar-text {
            margin-top: 10px;
            margin-bottom: 10px; 
        }
    /*General*/
    
    /*Header*/
        .side-button {
            float: right;
            margin-top: 5px;
            margin-right: 10px;
            background-color: transparent;
            color: white;
            border: 0px;
        }
    /*Header*/

    /*Content*/
        label {
            font-size:26px;
        }
        .form-control {
            height: 75px;
            font-size:50px;
        }
        .btn-primary {
            font-size: 30px;
        }
    /*Content*/

    /*Footer*/
        footer {
            padding-top: 55px;
        }
    /*Footer*/
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
